<h1>Users</h1>

<p class="alert alert-info">
  Manage the users that HIF works with below.
</p>

<% if @users.count > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Agency</th>
        <th class="text-center">Approved</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.full_name %></td>
          <td><%= user.email %></td>
          <td><%= user.agency.try(:name) %></td>
          <td class="text-center">
            <%= render partial: "shared/approved_form", locals: { user: user } %>
          </td>
          <td>
            <div class="btn-group">
              <%= link_to edit_user_registration_path(user), class: 'btn btn-sm btn-default' do %>
                <span class="glyphicon glyphicon-pencil"></span> Edit
              <% end %>
              <%= link_to user_path(user.id), class: "btn btn-sm btn-danger", method: :delete,
                  data: { confirm: "You sure?" } do %>
                <span class="glyphicon glyphicon-trash"></span> Remove
              <% end %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p>
    <%= link_to '<span class="glyphicon glyphicon-plus"></span> New User'.html_safe, "/", class: 'btn btn-primary btn-block-xs' %>
  </p>
<% else %>
  <div class="alert alert-warning">
    No users have been added yet. <%= link_to '<span class="glyphicon glyphicon-plus"></span> New User'.html_safe, "/", class: 'btn btn-default' %>
  </div>
<% end %>
