<h1>Agencies</h1>

<p>
  Manage the different agencies that HIF works with below.
</p>

<% if @agencies.count > 0 %>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Agency Name</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Fax Number</th>
        <th class="hidden-xs hidden-sm">Address</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @agencies.each do |agency| %>
        <tr>
          <td><%= agency.name %></td>
          <td><%= agency.email.presence || '-' %></td>
          <td><%= agency.phone.presence || '-' %></td>
          <td><%= agency.fax.presence || '-' %></td>
          <td class="hidden-xs hidden-sm"><%= agency.full_address %></td>
          <td>
            <%= link_to agency_path(agency), class: 'btn btn-default' do %>
              <span class="glyphicon glyphicon-pencil"></span> Edit
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <p>
    <%= link_to new_agency_path, class: 'btn btn-primary btn-block-xs' do %>
      <span class="glyphicon glyphicon-plus"></span> New Agency
    <% end %>
  </p>
<% else %>
  <div class="alert alert-warning">
    No agencies have been added yet.
    <div>
      <%= link_to new_agency_path, class: 'btn btn-primary btn-block-xs' do %>
        <span class="glyphicon glyphicon-plus"></span> New Agency
      <% end %>
    </div>
  </div>
<% end %>
