<ol class="breadcrumb">
  <li><%= link_to 'Agencies', agencies_path %></li>
  <li class="active"><%= @agency.name %></li>
</ol>

<h2><%= @agency.name %></h2>

<div class="row">
  <div class="col-md-5 col-sm-12">
    <%= render partial: 'agency_form', locals: { btn_action: 'Save', panel_title: 'Edit' } %>
  </div>
  <div class="col-md-7 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Case Workers</h4>
      </div>
      <div class="panel-body">
        <div class="center hero-unit">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Approved</th>
              </tr>
            </thead>
            <tbody>
              <% @users = User.case_workers_by_agency(@agency) %>
              <% @users.each do |user| %>
                <tr>
                  <td><%= user.full_name.presence || "-" %></td>
                  <td><%= user.email %></td>
                  <td>
                    <%= form_for(user, url: "/users", format: :patch,  remote: true) do |f| %>
                      <%= f.check_box :approved, :onchange => "$(this.form).submit();" %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <p>
      <%= link_to 'Remove Agency...', '', method: 'delete', class: 'btn btn-danger btn-sm btn-block-xs', data: { confirm: 'Are you sure you wish to delete this agency? All users will also be removed.', disable_with: 'Loading...' } %>
    </p>
  </div>
</div>
