<ol class="breadcrumb">
  <li><%= link_to 'Agencies', agencies_path %></li>
  <li class="active"><%= @agency.name %></li>
</ol>

<h2><%= @agency.name %></h2>

<div class="row">
  <div class="col-md-5 col-sm-12">
    <%= render partial: 'agency_form', locals: { btn_action: 'Save', panel_title: 'Edit' } %>
  </div>
  <div class="col-md-7 col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>Case Workers</h4>
      </div>
      <div class="panel-body">
        List of users should go here...
      </div>
    </div>
    <p>
      <%= link_to 'Remove Agency...', '', method: 'delete', class: 'btn btn-danger btn-sm btn-block-xs', data: { confirm: 'Are you sure you wish to delete this agency? All users will also be removed.', disable_with: 'Loading...' } %>
    </p>
  </div>
</div>
