<div class="nested-fields">
  <div class="row">
    <div class="col-sm-10">
      <%= f.hidden_field :person_type, input_html: { value: Person::DEPENDENT } %>
      <%= f.input :first_name, required: true, input_html: { data: { guard: "required" } } %>
      <%= f.input :last_name, required: true, input_html: { data: { guard: "required" } } %>
      <%= f.input :birth_date, as: :string, start_year: 1910, order: [:month, :day, :year],
          required: true, input_html: { data: { guard: "required" }, type: "date" } %>
      <%= f.input :student_status, label: "Daycare/School", collection: Person::DEPENDENT_STUDENT_STATUSES %>
    </div>

    <div class="col-sm-2 text-right">
      <%= link_to_remove_association f, class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-trash"></span>
        Remove
      <% end %>
    </div>
  </div>
</div>
