<div class="nested-fields">
  <div class="row">
    <div class="col-md-10 col-sm-11">
      <%= f.hidden_field :person_type, value: Person::DEPENDENT %>
      <%= f.input :first_name, required: true, input_html: { data: { guard: "required" } } %>
      <%= f.input :last_name, required: true, input_html: { data: { guard: "required" } } %>
      <%= f.input :birth_date, as: :string, start_year: 1910, order: [:month, :day, :year],
          required: true, input_html: { data: { guard: "required" }, type: "date" } %>
      <%= f.input :student_status, label: "Daycare/School", collection: Person::DEPENDENT_STUDENT_STATUSES %>
    </div>

    <div class="col-md-2 col-sm-1 text-right">
      <%= link_to_remove_association f, class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-trash"></span>
        <span class="hidden-sm">Remove</span>
      <% end %>
    </div>
  </div>
</div>
