<div class="row employment">
  <div class="col-sm-10">
    <div>
      <%= f.input :employer, required: true, input_html: { data: { guard: "required" } } %>
      <%= f.input :occupation %>
      <%= f.input :monthly_income %>
      <%= f.input :start_date, as: :string, start_year: 1910, order: [:month, :day, :year], input_html: { type: "date" } %>
      <%= f.input :end_date, as: :string, start_year: 1910, order: [:month, :day, :year], input_html: { type: "date" } %>
    </div>
  </div>
  <div class="col-sm-2 text-right">
    <%= link_to_remove_association f, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-trash"></span>
      Remove
    <% end %>
  </div>
</div>
