 <% income_fields = 'forms/fields/income_fields' %>

<div class="nested-fields">

  <div class="row">
    <div class="col-sm-10">
      <%= f.input :first_name, required: true, input_html: { data: { guard: "required" } } %>
      <%= f.input :last_name, required: true, input_html: { data: { guard: "required" } } %>
      <%= f.input :birth_date, start_year: 1910, order: [:month, :day, :year], required: true %>
      <%= f.input :phone, input_html: { data: { guard: "phoneUS" } } %>
      <%= f.input :email, input_html: { data: { guard: "email" } } %>

    </div>

    <div class="col-sm-2 text-right">
      <%= link_to_remove_association f, class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-trash"></span>
        Remove
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-4">
      <%= f.input :veteran %>
    </div>

    <div class="col-sm-4">
      <%= f.input :student %>
    </div>

    <div class="col-sm-4">
      <%= f.input :full_time_student %>
    </div>
  </div>

  <div class="links">
    <%= link_to_add_association f, :incomes, partial: income_fields, class: 'btn btn-default' do %>
      <span class="glyphicon glyphicon-plus"></span>
      Add Employment
    <% end %>
  </div>

  <hr/>
</div>
