<div class="nested-fields">
  <div class="row">
    <div class="col-md-10 col-sm-11">
      <%= f.input :first_name, required: true, input_html: { data: { guard: "required" } } %>
      <%= f.input :last_name, required: true, input_html: { data: { guard: "required" } } %>
      <%= f.input :birth_date, as: :string, start_year: 1910, order: [:month, :day, :year],
          required: true, input_html: { data: { guard: "required" }, type: "date" } %>
      <%= f.input :phone, input_html: { data: { guard: "phoneUS" } } %>
      <%= f.input :email, input_html: { data: { guard: "email"} } %>
      <%= f.input :student_status, collection: Person::STUDENT_STATUSES %>
      <%= f.input :veteran, wrapper: :horizontal_boolean %>
    </div>

    <div class="col-md-2 col-sm-1 text-right">
      <%= link_to_remove_association f, class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-trash"></span>
        <span class="hidden-sm">Remove</span>
      <% end %>
    </div>
  </div>
</div>
