 <% income_fields = 'forms/fields/income_fields' %>

<div class="nested-fields">
  <div class="row">
    <div class="col-sm-10">
      <%= f.input :first_name, required: true, input_html: { data: { guard: "required" } } %>
      <%= f.input :last_name, required: true, input_html: { data: { guard: "required" } } %>
      <%= f.input :birth_date, as: :string, start_year: 1910, order: [:month, :day, :year],
          required: true, input_html: { data: { guard: "required" }, type: "date" } %>
      <%= f.input :phone, input_html: { data: { guard: "phoneUS" } } %>
      <%= f.input :email, required: true, input_html: { data: { guard: "email required" } } %>
      <%= f.input :student_status, collection: Person::STUDENT_STATUSES %>
      <%= f.input :veteran, wrapper: :horizontal_boolean %>
    </div>

    <div class="col-sm-2 text-right">
      <%= link_to_remove_association f, class: 'btn btn-default' do %>
        <span class="glyphicon glyphicon-trash"></span>
        Remove
      <% end %>
    </div>
  </div>
</div>
