<p style="font-size: 12px; font-family: Calibri, sans-serif, 'Open Sans'; color: #333333;">
  There has been a new comment added to the grant application for
  <%= @comment.grant.people.to_sentence %>.
</p>

<p style="font-size: 12px; font-family: Calibri, sans-serif, 'Open Sans';">
  <b><%= @comment.user %> says:</b>
</p>

<p style="font-size: 17px; font-family: Calibri, sans-serif, 'Open Sans';">
  <%= @comment.body %>
</p>

<center>
 	<table width="100%">
    <tr>
      <td>
 				<table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="20" width="100%" style="font-size: 20px; line-height: 20px;">
 						</td>
 					</tr>
        </table>
        <table border="0" align="center" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
          <tbody>
            <tr>
              <td align="center">
 							  <table border="0" cellpadding="0" cellspacing="0" style="margin: 0 auto;">
                  <tr>
                    <td align="center" bgcolor="#3498DB" width="150">
                      <%= link_to "View Grant", grant_url(@comment.grant), style: "padding: 10px; width: 150px; display: block; text-decoration: none; border: 1px solid #628b31; text-align: center; font-weight: bold; font-size: 15px; font-family: Calibri, sans-serif, 'Open Sans'; color: #ffffff; background: #628b31; line-height: 17px;", class: "button_link" %>
 									  </td>
 								  </tr>
                </table>
              </td>
 				    </tr>
          </tbody>
        </table>
        <table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="20" width="100%" style="font-size: 20px; line-height: 20px;">
 						</td>
 				  </tr>
        </table>
      </td>
 		</tr>
  </table>
</center>

 <!-- END CENTERED BUTTON -->

<p style="font-size: 17px; font-family: Calibri, sans-serif, 'Open Sans';">
  <b>Previous Comments:</b>
</p>

<% @comment.context.each do |comment| %>
  <hr>
  <p style="font-size: 12px; font-family: Calibri, sans-serif, 'Open Sans'; color: #666666;">
    by <%= comment.user %>
  </p>
  <p style="font-size: 12px; font-family: Calibri, sans-serif, 'Open Sans'; color: #333333;">
    <%= comment.body %>
  </p>
<% end %>
