<h1>Grant Applications</h1>

<% if @grants.count > 0 %>
  <div class="tab-filters">
    <div class="row">
      <div class="col-md-2 col-sm-4 col-xs-12">
        <select class="form-control">
          <option>User 1</option>
          <option>User 2</option>
        </select>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-12">
        <% if current_user.role == 'admin' %>
          <select class="form-control">
            <option>Agency</option>
            <option value="1">Salvation Army</option>
            <option value="2">Emergency Housing Consortium</option>
          </select>
        <% end %>
      </div>

      <div class="col-md-2 col-sm-4 col-xs-12 col-md-offset-6">
        <select class="form-control">
          <option>Incomplete</option>
          <option>Approved</option>
        </select>
      </div>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Primary Applicant</th>
          <th>Application Date</th>

          <% if current_user.role == 'admin' %>
            <th>Agency</th>
          <% end %>

          <th>Case Worker</th>
          <th>Status</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @grants.each do |grant| %>
          <tr>
            <td>
              <%= link_to grant.details, grant %>
            </td>

            <td><%= grant.application_date.try(:strftime, '%m/%d/%Y') %></td>

            <% if current_user.role == 'admin' %>
              <td>
                <em>agency name</em>
              </td>
            <% end %>

            <td>
              <em><%= grant.user.full_name %></em>
            </td>

            <td>
              <em>status</em>
            </td>

            <td>
              <%= link_to 'Edit', edit_grant_path(grant), class: 'btn btn-default' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <p>
    <%= link_to '<span class="glyphicon glyphicon-plus"></span> New Application'.html_safe, new_grant_path, class: 'btn btn-primary' %>
  </p>
<% else %>
  <div class="alert alert-warning">
    No applications have been submitted yet. <%= link_to '<span class="glyphicon glyphicon-plus"></span> New Application'.html_safe, new_grant_path, class: 'btn btn-default' %>
  </div>
<% end %>
