<h1>Grant Applications</h1>

<% if @grants.count > 0 %>
  <div class="tab-filters">
    <div class="row">
      <div class="col-md-12">hello</div>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Primary Applicant</th>
        <th>Application Date</th>
        <th>Agency</th>
        <th>Case Worker</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <% @grants.each do |grant| %>
        <tr>
          <td><%= link_to grant.details, grant %></td>
          <td><%= grant.date %></td>
          <td><em>agency name</em></td>
          <td><em>case worker</em></td>
          <td><em>status</em></td>
          <!-- <td><%= link_to 'Show', grant %></td>
          <td><%= link_to 'Edit', edit_grant_path(grant) %></td>
          <td><%= link_to 'Destroy', grant, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
        </tr>
      <% end %>
    </tbody>
  </table>
  <p>
    <%= link_to '<span class="glyphicon glyphicon-plus"></span> New Application'.html_safe, new_grant_path, class: 'btn btn-primary' %>
  </p>
<% else %>
  <div class="alert alert-warning">
    No applications have been submitted yet. <%= link_to '<span class="glyphicon glyphicon-plus"></span> New Application'.html_safe, new_grant_path, class: 'btn btn-default' %>
  </div>
<% end %>
