<% if notice %>
  <p id="notice" class="alert alert-default">
    <%= notice %>
  </p>
<% end %>

<div class="form-group">
  <%= link_to 'Edit', edit_grant_path(@grant), class: "btn btn-default" %>
  <%= link_to 'Back', grants_path, class: "btn btn-link" %>
</div>

<p>
  <em>Grant added on: <%= @grant.application_date %></em></small>
</p>

<table class="table">
  <thead>
    <tr class="info">
      <th colspan="6">
        <h2>Applicants</h2>
      </th>
    </tr>
  </thead>

  <tbody>
    <% @grant.people.each do |person| %>
      <%= render partial: "person", locals: {person: person} %>
    <% end %>
  </tbody>
</table>

<table class="table">
  <thead>
    <tr class="info">
      <th colspan="6">
        <h2>Grant Information</h2>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th class="active">Grant Amount</th>

      <td>
        <%= @grant.grant_amount %>
      </td>

      <th class="active">Funding Date</th>

      <td>
        <%= @grant.funding_date %>
      </td>

      <th class="active">EHF Number</th>

      <td>
        <%= @grant.ehf_number %>
      </td>
    </tr>
  </tbody>
</table>

<%= react_component('GrantControls', {
      grant: @grant,
      payee: @grant_payee || {},
      statuses: @grant_statuses
}) if current_user.admin? %>

<%= react_component('CommentsSection', grant: @grant, current_comments: @comments) %>

<div class="form-group">
  <%= link_to 'Edit', edit_grant_path(@grant), class: "btn btn-default" %>
  <%= link_to 'Back', grants_path, class: "btn btn-link" %>
</div>
