<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @grant.application_date %>
</p>

<p>
  <strong>Details:</strong>
  <%= @grant.details %>
</p>

<%= link_to 'Edit', edit_grant_path(@grant) %> |
<%= link_to 'Back', grants_path %>
