<h2>Grant Application: <span class="light"><%= @grant.people.to_a.first %></span></h2>
<hr/>

<div class="row">
  <div class="col-md-8 col-sm-7">
    <h3>Agency</h3>
    <hr/>
    <div class="well">
      <div class="row">
        <div class="col-md-6">
          <% if current_user.admin? && @grant.user.agency.present? %>
            <h4 class="light">
              From <%= link_to @grant.user.agency.name, agency_path(@grant.user.agency) %>
            </h4>
          <% elsif @grant.user.agency.present? %>
            <h4 class="light">From <%= @grant.user.agency.name %></h4>
          <% end %>
          <div>
            Submitted <%= @grant.application_date.try(:strftime, '%m/%d/%Y') %>
          </div>
        </div>
        <div class="col-md-6">
          <h4 class="light">
            <%= @grant.user.full_name %>
          </h4>
          <% if @grant.user.agency.present? && @grant.user.agency.phone.present? %>
            <div>
              <span class="glyphicon glyphicon-earphone"></span>
              <%= @grant.user.agency.phone unless @grant.user.agency.phone.length < 2 %>
            </div>
          <% end %>
          <div>
            <span class="glyphicon glyphicon-envelope"></span>
            <%= mail_to @grant.user.email %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10">
        <h3>Applicants</h3>
        <hr/>
      </div>
      <div class="col-xs-2">
        <%= link_to grant_forms_path(@grant, :applicants), class: "btn btn-default btn-xs btn-block" do %>
          <span class="glyphicon glyphicon-pencil"></span>
          Edit
        <% end %>
      </div>
    </div>
    <% if @grant.people.count > 0 %>
      <div class="row">
        <% @grant.people.each do |person| %>
          <div class="col-md-6">
            <div class="well">
              <h4 class="light"><%= person.full_name %></h4>
              <% if person.birth_date.present? %>
                <div>
                  <%= time_ago_in_words(person.birth_date) %> old
                </div>
              <% end %>
              <% if person.phone.present? %>
                <div>
                  <span class="glyphicon glyphicon-earphone"></span>
                  <%= person.phone %>
                </div>
              <% end %>
              <% if person.email.present? %>
                <div>
                  <span class="glyphicon glyphicon-envelope"></span>
                  <%= mail_to person.email %>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="alert alert-warning">
        There are no applicants associated with this grant yet. <%= link_to 'Add Now...', edit_grant_path(@grant), class: "btn btn-default" %>
      </div>
    <% end %>

    <div class="row">
      <div class="col-xs-10">
        <h3>Residence</h3>
        <hr/>
      </div>
      <div class="col-xs-2">
        <%= link_to grant_forms_path(@grant, :properties), class: "btn btn-default btn-xs btn-block" do %>
          <span class="glyphicon glyphicon-pencil"></span>
          Edit
        <% end %>
      </div>
    </div>
    <% if !@grant.residence.present? %>
      <div class="alert alert-warning">
        Residence information has not been entered for this application yet.
      </div>
    <% else %>
      <div class="row">
        <div class="col-sm-6">
          <div><%= @grant.residence.address %></div>
          <div><%= @grant.residence.city %>, <%= @grant.residence.state %>  <%= @grant.residence.zip %></div>
        </div>
        <div class="col-sm-6">
          <div>
            <label class="control-label">Resident Type:</label>
            <%= @grant.residence.residence_type.try(:description) %>
          </div>
          <div>
            <label class="control-label">Move In Date:</label>
            <%= @grant.residence.move_in_date %>
          </div>
          <div>
            <label class="control-label">Subsidy Type:</label>
            <%= @grant.subsidy_type.try(:description) %>
          </div>
        </div>
      </div>
    <% end %>

    <h3>Grant Information</h3>
    <hr/>

    <div class="row">
      <div class="col-sm-6">
        <div>
          <label class="control-label">EHF Number:</label>
          <%= @grant.id %>
        </div>
        <div>
          <label class="control-label">Qualifying Criteria:</label>
          <%= @grant.grants_reason_types.map(&:reason_type).map(&:description).join(",") unless @grant.grants_reason_types.empty? %>
        </div>
        <div>
          <label class="control-label">Grant Requested:</label>
          <%= number_to_currency(@grant.grant_amount_requested) || '<em>no grant yet</em>'.html_safe %>
        </div>
      </div>
      <div class="col-sm-6">
        <div>
          <label class="control-label">Grant Amount:</label>
          <%= number_to_currency(@grant.grant_amount) || '<em>no grant yet</em>'.html_safe %>
        </div>
        <div>
          <label class="control-label">Funding Date:</label>
          <%= @grant.funding_date %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= link_to edit_grant_path(@grant), class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-pencil"></span> Edit
      <% end %>
      <%= link_to grant_path(@grant, format: :pdf), class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-print"></span> Print Application
      <% end %>
      <%= link_to 'return', grants_path, class: "btn btn-link" %>
    </div>
  </div>
  <div class="col-md-4 col-sm-5">
    <%= render "controls" %>
  </div>
</div>
