<div class="row">
  <div class="col-md-5 col-sm-5">
    <p>
      <label class="control-label">Agency:</label>
      <% if @grant.user.agency.present? %>
        <%= link_to @grant.user.agency.name, agency_path(@grant.user.agency), class: "btn btn-link" %>
      <% end %>
    </p>
    <p>
      <label class="control-label">Case Worker:</label>
      <%= @grant.user.full_name %>
    </p>
  </div>
  <div class="col-md-7 col-sm-7">
    <p>
      <label class="control-label">Phone:</label>
      <% if @grant.user.agency.present? && @grant.user.agency.phone.present? %>
        <%= @grant.user.agency.phone unless @grant.user.agency.phone.length < 2 %>
      <% end %>
    </p>
    <p>
      <label class="control-label">Email:</label>
      <%= mail_to @grant.user.email %>
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-sm-7">
    <% if notice %>
    <p id="notice" class="alert alert-default">
      <%= notice %>
    </p>
    <% end %>

    <h2>Applicants</h2>

    <p>
      This grant was submitted on <%= @grant.application_date.try(:strftime, '%m/%d/%Y') %>.
    </p>

    <% if @grant.people.count > 0 %>
      <div class="row">
        <% @grant.people.each do |person| %>
          <div class="col-md-6">
            <div class="well">
              <p>
                <label class="control-label">Name:</label>
                <%= person.full_name %>
              </p>

              <p>
                <label class="control-label">Phone Number:</label>
                <%= person.phone %>
              </p>

              <p>
                <label class="control-label">Email:</label>
                <%= mail_to person.email %>
              </p>

              <p>
                <label class="control-label">Birthday:</label>
                <%= person.birth_date.try(:strftime, '%m/%d/%Y') %>
              </p>

              <p>
                <label class="control-label">Veteran?</label>
                <% if person.veteran %>
                  <span class="glyphicon glyphicon-ok text-green"></span> Yes
                <% else %>
                  <span class="glyphicon glyphicon-remove text-red"></span> No
                <% end %>
              </p>

              <p>
                <label class="control-label">Student?</label>
                <% if person.student_status != 'None' %>
                  <span class="glyphicon glyphicon-ok text-green"></span> <%= person.student_status %>
                <% else %>
                  <span class="glyphicon glyphicon-remove text-red"></span> No
                <% end %>
              </p>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="alert alert-warning">
        There are no applicants associated with this grant yet. <%= link_to 'Add Now...', edit_grant_path(@grant), class: "btn btn-default" %>
      </div>
    <% end %>

    <h2>Resident Information</h2>
    <p>
      <label class="control-label">Resident Type:</label>
      <% if @grant.residence.present? %>
        <%= @grant.residence.residence_type.try(:description) %>
      <% end %>
    </p>

    <p>
      <label class="control-label">Address:</label>
        <% if @grant.residence.present? %>
          <%= @grant.residence.address %>,
          <%= @grant.residence.city %>, <%= @grant.residence.state %>  <%= @grant.residence.zip %>
        <% end %>
    </p>

    <p>
      <label class="control-label">Move In Date:</label>
        <% if @grant.residence.present? %>
          <%= @grant.residence.move_in_date %>
        <% end %>
    </p>

    <p>
      <label class="control-label">Deposit:</label>
        <% if @grant.residence.present? %>
          <%= @grant.residence.rent %>
        <% end %>
    </p>

    <p>
      <label class="control-label">Rent:</label>
        <% if @grant.residence.present? %>
          <%= @grant.residence.deposit %>
        <% end %>
    </p>


    <h2>Grant Information</h2>

    <p>
      <label class="control-label">EHF Number:</label>
      <%= @grant.id %>
    </p>

    <p>
      <label class="control-label">Qualifying Criteria:</label>
      <%= @grant.grants_reason_types.map(&:reason_type).map(&:description).join(",") unless @grant.grants_reason_types.empty? %>
    </p>

    <p>
      <label class="control-label">Grant Amount:</label>
      <%= @grant.grant_amount || '<em>no grant yet</em>'.html_safe %>
    </p>

    <p>
      <label class="control-label">Funding Date:</label>
      <%= @grant.funding_date %>
    </p>

    <p>
      <label class="control-label">Subsidy Type:</label>
      <%= @grant.subsidy_type.try(:description) %>
    </p>


    <div class="form-group">
      <%= link_to 'Edit', edit_grant_path(@grant), class: "btn btn-default" %>
      <%= link_to grant_budgets_path(@grant), class: "btn btn-default" do %>
        <span class="glyphicon glyphicon-new-window"></span> Budget Worksheet
      <% end %>
      <%= link_to 'return', grants_path, class: "btn btn-link" %>
    </div>
  </div>
  <div class="col-md-4 col-sm-5">
    <%= render "controls" %>
  </div>
</div>
