<%= breadcrumbs %>
<div class="row">
  <div class="col-md-8 col-sm-7">
    <h2>Payee Information</h2>
    <%= simple_form_for(@grant, url: wizard_path,  method: :put, html: { data: { live_guarded: true } }) do |f| %>

      <%= f.simple_fields_for :payees, @grant.payees do |pf| %>
        <%= pf.input :name, required: true, input_html: { data: { guard: "required" } } %>
        <%= pf.input :attention %>
        <%= pf.input :street_address, required: true, input_html: { data: { guard: "required" } } %>
        <%= pf.input :unit_number %>
        <%= pf.input :city, required: true, input_html: { data: { guard: "required" } } %>
        <%= pf.input :state, required: true, collection: AddressHelper::US_STATES, input_html: { data: { guard: "required" } } %>
        <%= pf.input :zip, required: true, input_html: { data: { guard: "int" }, maxlength: 5 } %>
        <%= pf.input :phone, required: true, input_html: { data: { guard: "phoneUS" } } %>
        <%= pf.input :email %>
      <% end %>
      <%= f.submit 'Save and Continue', class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col-md-4 col-sm-5">
    <%= render "grants/controls" %>
  </div>
</div>
