<%= breadcrumbs %>
<div class="row">
  <div class="col-sm-6">
  <h2>Property Information</h2>
  <%= simple_form_for(@grant, url: wizard_path,  method: :put, html: { data: { live_guarded: true } }) do |f| %>

    <%= f.simple_fields_for :residence, @grant.residence do |rf| %>
      <%= rf.input :residence_type_id, label_method: :description, collection: ResidenceType.all %>
      <%= rf.input :address, required: true, input_html: { data: { guard: "required" } } %>
      <%= rf.input :unit_number, required: false %>
      <%= rf.input :city, required: true, input_html: { data: { guard: "required" } } %>
      <%= rf.input :state, required: true, collection: AddressHelper::US_STATES, input_html: { data: { guard: "required" } } %>
      <%= rf.input :zip, required: true, input_html: { data: { guard: "int" }, maxlength: 5 } %>
    <% end %>
    <%= f.submit 'Save and Continue', class: 'btn btn-primary' %>
  <% end %>
  </div>
</div>