<%= breadcrumbs %>

<div class="row">
  <div class="col-md-8 col-sm-7">
    <h2>Supportive Documentation</h2>
    <hr />
    <div class="alert alert-info">
      The following supportive documentation is needed for every application:
      <ul class="category-checklist">
        <% Upload::UPLOAD_CATEGORIES.each_pair do |name, description| %>
        <li>
            <span class="<%= upload_category_classes(name) %>"></span>
            <strong><%= name %></strong><% if name != description %>: <%= description %><% end %>
          </li>
        <% end %>
      </ul>
    </div>
    </ul>
    <%= simple_form_for(@upload, wrapper: :horizontal_form, html: { class: 'form-horizontal', data: { live_guarded: true} }) do |f| %>
      <div class="form-group">
        <%= f.input :category, label: "Type", collection: Upload::UPLOAD_CATEGORIES.keys,
            prompt: "Select Type of Documentation", input_html: { data: { guard: "required" } } %>
        <div class="col-sm-offset-3 col-sm-9">
          <%= hidden_field(:upload, :user_id) %>
          <%= hidden_field(:upload, :user_type) %>
          <label class="btn btn-default btn-file">
            Select a File
            <%= f.file_field :file %>
          </label>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <%= f.submit 'Upload Document', class: 'btn btn-primary' %>
        </div>
      </div>
    <% end %>
    <h2>Uploaded Documentation</h2>
    <% if @grant.uploads.empty? %>
      <div class="alert alert-warning">
        No supporting documentation has been uploaded yet.
      </div>
    <% else %>
      <ul>
        <% @grant.uploads.each do |upload| %>
          <li>
            <%= link_to "#{upload.category}: #{upload.file_file_name}", download_upload_path(upload) %>
            <%= link_to upload, confirm: 'Are you sure you want to delete this file?',
                method: :delete, title: "Remove uploaded file", class: "btn btn-sm btn-default", data: { toggle: "tooltip" } do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>
  </div>

  <div class="col-md-4 col-sm-5">
    <%= render "grants/controls" %>
  </div>
</div>
