<%= breadcrumbs %>

<div class="row">
  <div class="col-md-8 col-sm-7">
    <%= form_for(@upload, html: { class: 'new-upload form-horizontal', multipart: true }) do |f| %>
      <div class="row">
        <div class="col-xs-12">
          <h2>Supportive Documentation</h2>
          <hr />
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <label class="col-sm-3 control-label" style="padding-top: 0;">
            Upload a file
          </label>
          <div class="col-sm-9">
            <%= hidden_field(:upload, :user_id) %>
            <%= hidden_field(:upload, :user_type) %>
            <%= f.file_field :file %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <%= f.submit 'Upload Document', class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-4 col-sm-5">
    <%= render "grants/controls" %>
  </div>
</div>
